body{
  background: url(https://www.atlantisbahamas.com/media/Things%20To%20Do/Water%20Park/Beaches/Hero/Experiences_Beach.jpg);
  background-repeat: repeat;
}

div{
  background-color: red;
  border-color: blue;
  border-width: 10px;
  border-style: dashed;
}

p{
  color: yellow;
}

span{
  background: red;
  color:black;
}
